.service-list{
    background: #f3f3f3;
    border-radius: 6px;
    padding:16px;
}

.service-list .titles{
    font-family: 'ff-medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.service-totals{
    margin:20px auto 40px auto;
}


.service-list .row{
    margin-bottom:20px;
}

.action-button{
    margin: 10px auto;
}

@media (min-width: 768px) { 

    .service-list .row{
        margin-bottom:0px;
    }
}
